/* FUENTES PERSONALIZADAS */

@font-face{
	font-family:ubuntuRegular;
	src:url(fuentes/Ubuntu-R.ttf) format("truetype")
	
}

@font-face{
	font-family:ubuntuBold;
	src:url(fuentes/Ubuntu-B.ttf) format("truetype")
	
}
@font-face{
	font-family:ubuntuItalic;
	src:url(fuentes/Ubuntu-I.ttf) format("truetype")
	
}
@font-face{
	font-family:ubuntuBoldItalic;
	src:url(fuentes/Ubuntu-BI.ttf) format("truetype")
	
}
/*ESTILOS BASICOS*/
h1,h2,h3,h4,h5{
	font-family:ubuntuBold;
}
h6{font-family: ubuntuRegular;}
h1{
	color: white;
	font-size: 48px;
	top:-20%;
	margin-top:10px;
	letter-spacing: 0px;
	display:inline;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	margin:0px;
	padding:0px;

}

h2{
	color: white;
	font-size: 16px;
	top:-20%;
	margin-top:10px;
	letter-spacing: 0px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	margin:0px;
	padding:0px;
}
#tipo{
	position:absolute;
	transform:translate(100px, 10px);
	-webkit-transform:translate(100px, 10px);
}

h3{
	margin:0px;
	padding:0px;
	font-size:36px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
h4{
	margin:0px;
	padding:0px;
	font-size:14px;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	color:black;
}
h6{
color:white;
font-size: 12px;
}

p{
font-family:ubuntuRegular;
font-size:16px;
color:rgba(105, 105, 105,2);
}

#gisoft{
	color:white;
	font-size:14px;
	font-family: Lucida Calligraphy, Helvetica, sans-serif;
	width:92%;
	margin:30px 30px;
	/*text-align:center;*/
}

#capital{
 float: left;
 line-height: 35px;
 padding-right: 10px;

 font-size:50px;
 font-family: Edwardian Script ITC ,Lucida Calligraphy, Helvetica, sans-serif; 
}

/*Menu de Navegacion*/

nav{
	float:left;
	//background-color: green;
	margin-top:40px;	
	margin-left:40px;	
	margin-bottom:30px;	
	height:30px;	
	width:560px;		
	font-family:"Times New Roman"; 
}

nav ul{
	clear:both;
	/*float:left;*/
	list-style:none;
	margin:0;	
}

nav ul li {
	display:block;
	float:left;
	position:relative;
	list-style:none;
	margin-left:0px;
	
	
}
nav ul li a:hover {
	font-size:17px;	
}

nav ul li a{
	padding:15px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
	font-size:15px;
	margin:0px;	
	font-family:ubuntuRegular;
	/* font-family: 'Merienda One', sans-serif; */
}









/*Maquetacion Principal*/

body{
	/* text-align:center; */
	margin:0px;
	background:#F2F2F2;
}
#principal{
	text-align:left;
	margin:auto;
	width:950px;
	height:100%;	
	/* position:relative; */
	border: 1px solid white;
	background: white;
}



/* #cajaheader{
	width:100%;
	/* height:100px; */
/*	
	position:absolute;
} */
#marco{   /* estructura interna del header */
	/* background-color:white; */
	float:inherit;
	width:950px;	
	margin: 0 auto;	
}

header{
	
	text-align:center;
	height: 100px;
	
	background: rgb(0,0,7); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(0,0,7,1) 0%, rgba(5,4,51,1) 52%, rgba(0,2,12,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,7,1)), color-stop(52%,rgba(5,4,51,1)), color-stop(100%,rgba(0,2,12,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(0,0,7,1) 0%,rgba(5,4,51,1) 52%,rgba(0,2,12,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(0,0,7,1) 0%,rgba(5,4,51,1) 52%,rgba(0,2,12,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(0,0,7,1) 0%,rgba(5,4,51,1) 52%,rgba(0,2,12,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(0,0,7,1) 0%,rgba(5,4,51,1) 52%,rgba(0,2,12,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000007', endColorstr='#00020c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	
	-moz-border-radius: 0px 25px 0px 25px;
	-o-border-radius: 0px 25px 0px 25px;
	box-shadow: 3px 3px 5px black;
	
	-webkit-box-shadow: 3px 3px 20px black;
	-moz-box-shadow: 3px 3px 10px black;
	-o-box-shadow: 3px 3px 10px black;
	
	opacity: 5;	
	
	
	
	
}

#logo{
	float:left;
	margin:8px 5px;		
 	width:336px; height:80px;
}


/*-------  Footer   ---------*/
/*-------------------------------------------------------------------------------------*/

footer {	
	float:inherit;
	margin-top:50px;
	height:230px;
	width: 100%;
	background: rgb(2,0,33);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyMDAyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iIzAxMDAwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	color: blue;
	background: -moz-linear-gradient(top,  rgba(2,0,33,1) 0%, rgba(1,0,15,1) 43%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,0,33,1)), color-stop(43%,rgba(1,0,15,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(2,0,33,1) 0%,rgba(1,0,15,1) 43%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(2,0,33,1) 0%,rgba(1,0,15,1) 43%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(2,0,33,1) 0%,rgba(1,0,15,1) 43%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(2,0,33,1) 0%,rgba(1,0,15,1) 43%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020021', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
 	border: 2px solid black;
	
	box-shadow: 10px 10px 55px 5px #888888;	
	-moz-box-shadow: 10px 10px 55px 5px #888888;	
	-webkit-box-shadow: 10px 10px 55px 5px #888888;	
	-o-box-shadow: 10px 10px 55px 5px #888888;	
	
	}


#foot_marco{
 	float:center;
	width:950px;
	height:230px;	
	margin: 0px auto;
	
}

#foot_marco{
 	float:center;
	width:950px;
	height:230px;	
	margin: 0px auto;
	padding: 0px auto;

}
#foot_web{
	float:left;
	width:220px;
	height:200px;	
	margin-left: 5px;
	margin-top:5px;
	/* padding-top:5px; */
 	/* border: 1px solid;	 */
}
#foot_cont{
	float:left;
	width:270px;
	height:200px;	
	margin-top:5px;
	/* padding-top:5px; */
	/* border: 1px solid;  */
	
}


#foot_tecnologias{
	float:left;
	width:390px;
	height:200px; 	
 	margin-left:30px;	
	margin-top:5px;
	/* padding-top:5px; */
  	/* border: 1px solid;  */ 
	
	
}

p.titulo_foot{	
	float:lefth;
	color:#BDBDBD;
	font-family:ubuntuBold;
	/* margin-top: -3px; */
}


p.info_foot{
	float:lefth;
	color:#848484;
	font-size: 14px;
	font-family:ubuntuRegular;
	/* font-family: 'arial'; */
	/* margin-top: -8px; */

}


img.imagen{
	opacity: 0.5;           /* safari, chrome, opera */
	filter: alpha(opacity=0.5);
	-moz-opacity:0.5;

}
/*-------------------------------------------------------------------------------------*/





/* footer{
	display:table;
	margin:auto;
	text-align:center;
	width:100%;
	background:darkgray;
	border: 2px solid white;

	border-radius:0px 0px 5px 35px;
	-webkit-border-radius:0px 0px 5px 35px;
	-moz-border-radius:0px 0px 5px 35px;
	-o-border-radius:0px 0px 5px 35px;

	box-shadow:0px 0px 10px white;
	-webkit-box-shadow:0px 0px 10px white;
	-moz-box-shadow:0px 0px 10px white;
	-o-box-shadow:0px 0px 10px white;
} */
#contenido{
	width:100%;
/* 	border 2px solid white;	
	background:rgba(255,255,255,0.8);
	box-shadow:0px 50px 10px black;
	-webkit-box-shadow:0px 0px 10px white;
	-moz-box-shadow:0px 0px 10px white;
	-o-box-shadow:0px 0px 10px white; */

}
article{

	/* color: rgba(70,130,180,1); */
	
	background: white;
	background: rgba(173, 216, 230,0);
	margin:10px;
	
	width:55%;
	height:100%;
	border: 1px solid #848484;
	
	border-radius:0px 25px 0px 25px;
	-webkit-border-radius:0px 25px 0px 25px;
	-moz-border-radius:0px 25px 0px 25px;
	-o-border-radius:0px 25px 0px 25px;
	box-shadow:3px 3px 10px black;
	-webkit-box-shadow:3px 3px 10px black;
	-moz-box-shadow:3px 3px 10px black;
	-o-box-shadow:3px 3px 10px black;
	padding:10px 10px 10px 150px;
	opacity:1;
	
	transition:opacity 1s,box-shadow 1s, trasform 1s, backgraund 1s;
	
	-webkit-transition:opacity 1s, -webkit-box-shadow 1s, -webkit-trasform 1s,-webkit-backgraund 1s;
	-moz-transition:opacity 1s, -moz-box-shadow 1s, -moz-trasform 1s,-mozz-backgraund 1s;
	-o-transition:opacity 1s, -o-box-shadow 1s, trasform 1s;
	
	-o-transform:scale(1,1),-o-backgraund 1s;	
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	-o-transform:scale(1,1);

}
time{
	float:right;
	font-family:ubuntuRegular;
	font-size:10px;
}
article:hover{
 	box-shadow:0px 0px 25px white;
	-webkit-box-shadow:0px 0px 25px white;
	-moz-box-shadow:0px 0px 25px white;
	-o-box-shadow:0px 0px 25px white;
	opacity:1;
	transform:scale(1.03,1.03);
	-webkit-transform:scale(1.03,1.03);
	-moz-transform:scale(1.03,1.03);
	-o-transform:scale(1.03,1.03);
	background:rgba(255,255,255,0.5);
	color:Black;
}
article a{
	text-decoration:none;
	color:rgb(14,29,68);

}

article a:visited{
	text-decoration:none;
	color:rgb(14,29,68);
}




#postprevios{
	float:right;
	display:inline-table;
	width:25%;
	margin:20px 5px 0px 20px;
	
	padding:10px;
	background: rgba(255,255,255,0.5);
	
	/*border:1px solid white; */
	border-radius:0px 25px 0px 25px;
	-webkit-border-radius:0px 25px 0px 25px;
	-moz-border-radius:0px 25px 0px 25px;
	-o-border-radius:0px 25px 0px 25px;
	box-shadow: 3px 3px 10px black;
	-webkit-box-shadow: 3px 3px 10px black;
	-moz-box-shadow: 3px 3px 10px black;
	-o-box-shadow: 3px 3px 10px black;

}

aside{
	height:40px;
	overflow:hidden;
	transition: height 2s;
	-webkit-transition: height 2s;
}

aside:focus{
	height:120px;
	outline:none;
}

#h4{
	color:rgb(14,29,68);
	font-family:verdana;
	font-weight:bold;
	font-size: 20px;
	/*text-shadow: 5px 0px 5px rgba(0,0,0,0.4); */
	margin: 10px 20px;
}

#h5{
	color:steelblue;
	font-family:verdana;
	font-weight:bold;
	font-size: 20px;
	/*text-shadow: 0px 0px 5px rgba(0,0,0,0.8); */
	margin: 30px 20px;
}

aside ul{
	width:100%;
	height:100%;
	padding-left:0;
	padding-right:0;
	color:black;
	float:left;
	font-family:ubuntuRegular;
	font-size:10px;
	list-style:none;
}

aside ul li{
	width:100%;
	text-decoration:none;
	border:1px solid white;
	border-radius:0px 5px 0px 5px;
	-webkit-border-radius:0px 5px 0px 5px;
	-moz-border-radius:0px 5px 0px 5px;
	-o-border-radius:0px 5px 0px 5px;
}

aside ul li a{
	width:100%;
	height:10px;
	overflow:hidden;
	text-decoration:none;
	color:gray;
}

#sobregisoft{
	width:100%;
	height:120px;
	background:rgba(0,0,0,0.7);
	/*background:url("/../img/blanco.png"),url("/../img/negro.png");*/
	display:table;
	color:white;
	font-size:15px;
	text-align:justify;
	margin-top: -1px;
	

}


/*Articulos*/
#autor{
	font-family: Lucida Calligraphy, Helvetica, sans-serif;	
	color: rgba(70,130,180,1);
	font-size:11px
	

}






#logoart1{
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/web.png');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px black;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
-moz-border-radius: 0px 10px 0px 10px;
-moz-box-shadow: 0px 0px 10px black;
-o-border-radius: 0px 10px 0px 10px;
-o-box-shadow: 0px 0px 10px black;
float:left;
margin:10px;
top:20px;

position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
-moz-transform:translate(-140px, 0px);
-o-transform:translate(-140px, 0px);

}

#logoart2{
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/gisoft.png');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;
top:20px;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px black;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
-moz-border-radius: 0px 10px 0px 10px;
-moz-box-shadow: 0px 0px 10px black;
-o-border-radius: 0px 10px 0px 10px;
-o-box-shadow: 0px 0px 10px black;
float:left;
margin:10px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
-moz-transform:translate(-140px, 0px);
-o-transform:translate(-140px, 0px);

}

#logoart3{
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/equipo.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px black;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
-moz-border-radius: 0px 10px 0px 10px;
-moz-box-shadow: 0px 0px 10px black;
-o-border-radius: 0px 10px 0px 10px;
-o-box-shadow: 0px 0px 10px black;
float:left;
margin:10px;
top:20px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
-moz-transform:translate(-140px, 0px);
-o-transform:translate(-140px, 0px);

}

#logoart4{
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/directorio.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
-moz-border-radius: 0px 10px 0px 10px;
-moz-box-shadow: 0px 0px 10px black;
-o-border-radius: 0px 10px 0px 10px;
-o-box-shadow: 0px 0px 10px black;
box-shadow: 0px 0px 10px black;

float:left;
margin:10px;
top:20px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
-moz-transform:translate(-140px, 0px);
-o-transform:translate(-140px, 0px);

}

#logoart5{
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/directorio.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
-moz-border-radius: 0px 10px 0px 10px;
-moz-box-shadow: 0px 0px 10px black;
-o-border-radius: 0px 10px 0px 10px;
-o-box-shadow: 0px 0px 10px black;
box-shadow: 0px 0px 10px black;

float:left;
margin:10px;
top:20px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
-moz-transform:translate(-140px, 0px);
-o-transform:translate(-140px, 0px);

}
#logoart6{
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/gestion_de_riesgos.gif');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px black;
-moz-border-radius: 0px 10px 0px 10px;
-moz-box-shadow: 0px 0px 10px black;
-o-border-radius: 0px 10px 0px 10px;
-o-box-shadow: 0px 0px 10px black;
box-shadow: 0px 0px 10px black;

float:left;
margin:10px;
top:20px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
-moz-transform:translate(-140px, 0px);
-o-transform:translate(-140px, 0px);

}















